[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  suppress_multiple_term_dialog = True
  borderless = True
[keybindings]
  close_window = <Shift><Alt>c
  go_next = <Alt>Right
  split_horiz = <Primary><Shift><Alt>t
  go_prev = <Alt>Left
  close_term = <Alt>c
  move_tab_left = <Primary><Shift>Page_Up
  new_tab = <Primary>t
  split_vert = <Primary><Shift>t
  copy = <Primary>c
[profiles]
  [[default]]
    use_system_font = False
    font = Inconsolata Medium 12
    visible_bell = True
    background_image = None
    copy_on_selection = True
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
