[global_config]
  borderless = True
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  suppress_multiple_term_dialog = True
[keybindings]
  close_term = <Alt>c
  close_window = <Shift><Alt>c
  copy = <Primary>c
  go_next = None
  go_prev = None
  move_tab_left = None
  move_tab_right = None
  new_tab = <Primary>t
  next_tab = <Primary><Alt>Right
  prev_tab = <Primary><Alt>Left
  split_horiz = <Primary><Shift><Alt>t
  split_vert = <Primary><Shift>t
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    font = Inconsolata Medium 12
    scrollback_infinite = True
    use_system_font = False
    visible_bell = True
