[global_config]
  enabled_plugins = ,
  window_state = maximise
  suppress_multiple_term_dialog = True
[keybindings]
  close_window = <Alt>q
  group_tab = None
  resize_left = None
  rotate_ccw = None
  reset_clear = None
  resize_right = None
  resize_down = None
  toggle_zoom = None
  scaled_zoom = None
  zoom_in = None
  group_all = None
  prev_tab = <Alt>Left
  split_vert = <Primary><Shift>t
  ungroup_all = None
  ungroup_tab = None
  paste = <Shift>Insert
  zoom_out = None
  go_prev = None
  close_term = <Alt>w
  new_terminator = None
  go_next = None
  new_tab = <Primary>t
  copy = <Primary>Insert
  hide_window = None
  reset = None
  search = <Primary>f
  rotate_cw = None
  resize_up = None
  next_tab = <Alt>Right
  split_horiz = <Primary><Shift><Alt>t
  zoom_normal = None
  move_tab_right = None
  new_window = <Primary>n
  move_tab_left = None
  toggle_scrollbar = None
[profiles]
  [[default]]
    login_shell = True
    background_image = None
    copy_on_selection = True
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
